.fontTemplate {
  min-height: 100vh;
  padding: 120px var(--content-padding);
  color: var(--color-text);
}

.header {
  text-align: center;
  margin-bottom: 80px;
  padding-top: calc(var(--content-padding) * 3);
}

.title {
  font-size: 8rem;
  line-height: 1;
  margin-bottom: 24px;
  font-weight: normal;
}

.description {
  font-size: 1.5rem;
  margin-bottom: 40px;
  opacity: 0.7;
}

.downloadButton {
  display: inline-block;
  padding: 16px 32px;
  background: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-2px);
  }
}

.playground {
  margin-bottom: 120px;
}

.controls {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: monospace;
}

.palygroundInput {
  width: 100%;
  min-height: 300px;
  background: transparent;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 24px;
  resize: vertical;
  outline: none;
  line-height: 1.2;
  
  &:focus {
      border-color: rgba(0,0,0,0.3);
  }
}

.specimen {
    margin-bottom: 80px;
}

.specimenGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    font-size: 48px;
    margin-bottom: 40px;
    justify-content: center;
    
    span {
        display: block;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 4rem;
    }
    
    .specimenGrid {
        font-size: 32px;
        gap: 16px;
    }
}

.imageSection {
    // margin: 80px 0;
  margin-left: calc(var(--content-padding) * -1);
  margin-right: calc(var(--content-padding) * -1);
  margin-bottom: 80px;
}

.blockFigure {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}

.caption {
    margin-top: 16px;
    font-size: 0.9rem;
    opacity: 0.6;
    text-align: center;
}
