.main {
    min-height: 100vh;
}

.testimonial {
    margin: 3rem 0;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 1rem;
    border-left: 4px solid #000;
}

.quote {
    font-size: 1.5rem;
    line-height: 1.6;
    font-style: italic;
    margin: 0 0 1.5rem 0;
}

.author {
    font-size: 1rem;
    font-style: normal;

    strong {
        font-weight: 600;
    }

    span {
        opacity: 0.7;
    }
}

@media screen and (max-width: 768px) {
    .quote {
        font-size: 1.25rem;
    }

    .testimonial {
        padding: 1.5rem;
    }
}