.projectLink {
  text-decoration: none;
  color: inherit;
  display: block;
  transition: transform 0.2s ease;
  border: 0;

  &:hover {
    transform: translateY(-4px);
  }
}

.project {
  background-color: #fafafa;
  border-radius: 1rem;
  padding: 4vh;
  height: 100%;
  background-image: none;

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-description {
  max-width: 360px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.55;
}

.project__link {
  font-weight: bold;
  margin-top: auto;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.5;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}