.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;

  max-width: 1600px;

  @media screen and (min-width: 768px) {
    width: 90%;
  }
}

.narrow {
  max-width: 768px;
}

.wide {
  max-width: 1024px;
}

.fullscreen {
  /* Full width container variant */
  max-width: none;
}