.section {
    padding: 6vh 0;
}

.title {
    font-size: 2rem;
    line-height: 1.3;
    margin: 0 0 2rem 0;
}

.content {
    font-size: 1.125rem;
    line-height: 1.7;
    max-width: 720px;

    p {
        margin: 0 0 1.5rem 0;

        &:last-child {
            margin-bottom: 0;
        }
    }

    h3 {
        font-size: 1.5rem;
        margin: 2rem 0 1rem 0;

        &:first-child {
            margin-top: 0;
        }
    }

    ul,
    ol {
        margin: 0 0 1.5rem 0;
        padding-left: 1.5rem;

        li {
            margin-bottom: 0.5rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 1.5rem;
    }

    .content {
        font-size: 1rem;
    }
}