.section {
  padding-top: 6vh;
  padding-bottom: 6vh;

  margin-left: calc(-1 * var(--content-padding));
  margin-right: calc(-1 * var(--content-padding));
  padding-left: var(--content-padding);
  padding-right: var(--content-padding);
}

.title {
  font-size: clamp(1.5rem, 1.1782rem + 1.1980vw, 2rem);
  line-height: 1.3;
  margin: 0 0 2rem 0;
  font-family: var(--font-title, inherit);
  color: var(--color-primary, inherit);
}

.content {
  font-size: clamp(1rem, 0.7871rem + 0.7921vw, 1.25rem);
  line-height: 1.7;
  font-family: var(--font-text, inherit);

  p {
    margin: 0 0 1.5rem 0;
    max-width: 600px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h3 {
    font-size: clamp(1.25rem, 1.0906rem + 0.5941vw, 1.5rem);
    margin: 2rem 0 1rem 0;

    &:first-child {
      margin-top: 0;
    }
  }

  ul,
  ol {
    margin: 0 0 1.5rem 0;
    padding-left: 1.5rem;

    li {
      margin-bottom: 0.5rem;
    }
  }
}