.main {
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  /* padding: 6rem; */
  min-height: 100vh;
  padding: 0 2rem;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  /* height: 100vh; */
  min-height: 450px;
  position: relative;
  /* padding: 12rem 0 5rem; */
  padding-top: 5rem;
  display: flex;
  flex-direction: column;

  &:after,
  &:before {
    content: "";
    width: 100%;
    filter: blur(172px);
    position: absolute;
    z-index: 0;
    transform: translate3d(0, 0, 0);
    border-radius: 50%;
  }

  &:before {
    width: 557px;
    height: 378px;
    background-color: rgba(240, 242, 150, 0.6);
    left: 45%;
    top: 35%;
  }

  &:after {
    width: 343px;
    height: 333px;
    background-color: rgba(79, 140, 212, 0.75);
    right: 55%;
    top: 25%;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    min-height: 768px;
  }
}

.hero-content {
  font-size: 2rem;
  font-size: clamp(2rem, 1.1485rem + 3.1683vw, 4rem);
  color: #202020;
  font-weight: 600;
  max-width: 956px;
}

.hero-container {
  margin: auto;
}

.nobr {
  white-space: nowrap;
}

.kyiv-logo {
  width: clamp(2rem, 1.1485rem + 3.1683vw, 4rem);
  height: auto;
  line-height: 24px;
  display: inline-block;
  margin-left: -1%;
  user-select: none;
}

.berlin-logo {
  line-height: 24px;
  display: inline-block;
  width: clamp(2rem, 1.0953rem + 3.3663vw, 4.125rem);
  height: auto;
  position: relative;
  margin-left: -2%;
  margin-right: -1%;
  user-select: none;
  vertical-align: text-top;
}

/* works */

.works {
  padding-top: 10rem;
  padding-bottom: 5rem;
}

/* projects */

.projects {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  */

  grid-template-columns: repeat(auto-fit, minmax(min(100%, 420px), 1fr));
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .projects {
    grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
  }
}

/* contact */

.contact {
  /* padding: 5rem 0; */
  padding: clamp(1.5rem, 0.0099rem + 5.5446vw, 5rem) 0;
}

.photography-link {
  opacity: 1;
  text-decoration: none;
  border-bottom: 0;
  cursor: default;
}

.photography-link__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: clamp(1.5rem, 0.0099rem + 5.5446vw, 5rem);
}
@media screen and (min-width: 768px) {
  .photography-link__image {
    height: 600px;
  }
}
