.main {
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  /* padding: 6rem; */
  min-height: 100vh;
  padding: 0 2rem;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  /* height: 100vh; */
  min-height: 800px;
  position: relative;
  /* padding: 12rem 0 5rem; */
  padding-top: 5rem;
  display: flex;
  flex-direction: column;

  &:after,
  &:before {
    content: "";
    width: 100%;
    filter: blur(172px);
    position: absolute;
    /* top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
    z-index: 0;
    transform: translate3d(0, 0, 0);
    border-radius: 50%;
  }

  &:before {
    width: 557px;
    height: 378px;
    background-color: rgba(240, 242, 150, 0.6);
    left: 45%;
    top: 35%;
  }

  &:after {
    width: 343px;
    height: 333px;
    background-color: rgba(79, 140, 212, 0.75);
    right: 55%;
    top: 25%;
  }
}

.hero-content {
  font-size: 3.45rem;
  color: #202020;
  font-weight: 600;
  max-width: 956px;
}

.kyiv-logo {
  width: 34px;
  height: 36px;
  line-height: 24px;
  display: inline-block;
  margin-top: -20px;
  margin-left: 8px;
  user-select: none;
}

.berlin-logo {
  line-height: 24px;
  display: inline-block;
  width: 42px;
  height: 46px;
  position: relative;
  bottom: -5px;
  margin-left: -6px;
  margin-right: -6px;
  margin-top: -20px;
  user-select: none;
}

/* works */

.works {
  padding-top: 10rem;
  padding-bottom: 5rem;
}

/* projects */

.projects {
}

/* contact */

.contact {
  padding: 5rem 0;
}

.photography-link {
  opacity: 1;
  text-decoration: none;
  border-bottom: 0;
  cursor: default;
}

.photography-link__image {
  width: 100%;
  height: auto;
  margin-top: 4.5rem;
}
