.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 9999;
    opacity: 0;
    border-radius: 20%;
    transform: scale(0);
    transform-origin: center center;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay.active {
    opacity: 1;
    transform: scale(1.5);
}

.overlay.fading {
    opacity: 0;
    transform: scale(1.5);
}

.overlay.exiting {
    opacity: 1;
    transform: scale(1.5);
}